@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    color: inherit;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
em, i, address{
    text-decoration: none;
}


/* 피시헤더 */
/*  */
#pc{}
header#pc-menu{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top:0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 120px;
    padding: 40px 50px;
    color: #fff;
    font-weight: bold;
    font-size: 16.5px;
}

header#pc-menu h1{
    width: 15%;
}

header#pc-menu ul{
    display: flex;
    line-height: 50px;
}
header#pc-menu #menu {
    width: 40%;
}

header#pc-menu #menu ul{
    width: 100%;
    justify-content: space-between;
}

header #sub-menu{
    display: none !important;
}
header #snb {
    width: 15%;
}
header #snb ul{
    justify-content: space-between;
}
header #snb #sub-menu{
    display: none !important;
}
header#pc-menu #snb ul li:nth-of-type(1){
 position: relative;
}
header#pc-menu #snb ul li:nth-of-type(1)::after{
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    right: -15px;
    width: 10px;
    height: 10px;
    background: url(../img/b_lang_arw.png)no-repeat;
    background-size: 100%;
    filter: brightness(0) invert(1);
}
header #snb ul li:nth-of-type(3){
    display: flex;
    flex-direction: column;
    justify-content:center;
    cursor: pointer;
}
header #snb ul li span{
    display: block;
    width: 25px;
    height: 2px;
    background-color: #fff;
}
header #snb ul li span:first-of-type{
    margin-bottom: 10px;
}
header #snb ul li span:last-of-type{
    margin-bottom: 5px;
}

header:hover {
    background-color: #fff;
}
header:hover div{
    color: black;
}
header:hover h1 img{
   filter: brightness(1) invert(1);
}
header:hover #snb ul li:nth-of-type(1)::after{
    filter: none !important;
}
header:hover #snb ul li span{
    background-color: black;
}


/* 모바일 헤더 */
/*  */
header#mobile-menu{
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 120px;
    padding: 40px 50px;
    color: #fff;
    font-weight: bold;
    font-size: 16.5px;
    filter: brightness(0) invert(1);
}
header#mobile-menu > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header#mobile-menu h1{}
header#mobile-menu h1 a{}
header#mobile-menu h1 a img{}
header#mobile-menu #snb{}
header#mobile-menu #snb ul{display: flex;}
header#mobile-menu #snb ul li{}
header#mobile-menu #snb ul li a{}
header#mobile-menu #snb ul li #sub-menu{}


/*  */
/* 메인 비주얼 */

#visual{
    position: relative;
    width: 100vw;
    height: 100vh;
    color: #fff;
    overflow: hidden;
}
#visual .swiper-container.outer-sw{
    width: 100%;
    height: 100%;
    transform: scale(1.1);
}
#visual .swiper-container.outer-sw .swiper-wrapper{
    width: 100%;
    height: 100%;
}
#visual .swiper-container.outer-sw .swiper-slide{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

#visual .swiper-container.outer-sw .swiper-wrapper .slide1{
    background: url(../img/b_mv_01.jpg);
}

#visual .swiper-container.outer-sw .swiper-wrapper .slide2{
    background: url(../img/b_mv_02.jpg);
}

#visual .swiper-container.outer-sw .swiper-wrapper .slide3{
    background: url(../img/b_mv_03.jpg);
}
#visual .swiper-container.outer-sw .swiper-wrapper .slide4{
    background: url(../img/b_mv_04.jpg);
}


/*  */
/*  */
#visual .swiper-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    opacity: 0;
}
#visual .swiper-text h2{
    font-size: 60px;
}
#visual .swiper-text div{
    display: flex;
    justify-content: center;
    font-weight: lighter;
    font-size: 16px;
    margin-top: 20px;
}
#visual .swiper-text div p:first-of-type{
    position: relative;
    margin-right: 10px;
}
#visual .swiper-text div p:first-of-type::after{
    content: "|";
    position: absolute;
    top: 0;
    right: -12.5px;
}
#visual .swiper-text div p:last-of-type{
    margin-left: 10px;
}



/*  */
/*  */
.icon-sw{
    position: absolute;
    bottom: 40px;
    left: 20px;
    max-width: 640px;
    overflow: hidden;
}
.icon-sw ul.icon-sw-wrap li{
    width: 120px;
    height: 80px;
    text-align: center;
}
.icon-sw ul.icon-sw-wrap li a{
    display: block;
    width: 100%;
    height: 100%;
}



/*  */
/*  */
.news-container{
    position: absolute;
    bottom: 17px;
    right: 20px;
    width: 560px;
    height: 100px;
    color: #fff;
    font-size: 18px;
    font-weight: lighter;
    overflow: hidden;
}
.news-container .news-wrap{
    
}
.news-container .news-wrap .swiper-slide{

}
.news-container .news-wrap .swiper-slide a{
    display: flex;
    justify-content: space-between;
}

@keyframes visual-sw{
    0%{transform: scale(1.1)}
    100%{transform: scale(1)}
}
@keyframes text-ani{
    0%{
        top: 50%;
        opacity: 0;
    }
    90%{
        top: 45%;
        opacity: 1;
    }
    100%{
        top: 45%;
        opacity: 1;
    }
}

.outer-sw.on{
    animation: visual-sw 5s forwards;
}
.swiper-text.on{
    animation: text-ani 1s forwards;
}

@media all and (max-width:1100px){
    #pc{
        display: none;
    }
    #mobile-menu{
        display: block !important;
    }
    .icon-sw{
        width: 400px;
    }
    .news-container{
        width: 420px;
        font-size: 15px;
    }
}
@media all and (max-width:900px){
    .icon-sw{
        width: 370px;
    }
    .icon-sw ul.icon-sw-wrap li{
        width: 80px;
        height: 80px;
    }
    .news-container{
        width: 360px;
        font-size: 14px;
    }
    header#mobile-menu{
        padding: 20px 30px;
    }
}
@media all and (max-width:725px){
    header#mobile-menu h1{
        width: 50%;
    }
    header#mobile-menu #snb{
        width: 50%;
        margin-top: 8px;
    }
    header#mobile-menu #snb ul{
        justify-content: end;
    }
    header#mobile-menu #snb ul li{
        margin-left: 15px;
    }
    header#mobile-menu h1 a img{
        width: 150px;
    }
    header#mobile-menu > div{
        
    }
    #visual .swiper-text{
        top: 30%;
        left: 50%;
        transform: translate(-50%, -65%);
        
    }
    .icon-sw{
        width: 100vw;
        bottom: 170px;
        left: 0;
        overflow: hidden;
    }
    .news-container{
        width: 100vw;
        font-size: 16px;
        left: 0;
        bottom: 20px;
        overflow: hidden;
        padding: 0 10px;
    }
    header#mobile-menu{
        padding: 20px 20px;
    }
}